@charset "utf-8";
.openerp .grant_sale_order_tree .oe_list_content td.oe_number {
  text-align: left !important;
  white-space: nowrap !important;
  max-width: 100px;
}

.openerp .grant_sale_order_tree .oe_list_content  td.oe_list_field_char {
  color:blue;
}
